<h1>Editing forniture</h1>

<%= render "form", forniture: @forniture %>

<br>

<div>
  <%= link_to "Show this forniture", @forniture %> |
  <%= link_to "Back to fornitures", fornitures_path %>
</div>
