<p style="color: green"><%= notice %></p>

<h1>Fornitures</h1>

<div id="fornitures">
  <% @fornitures.each do |forniture| %>
    <%= render forniture %>
    <p>
      <%= link_to "Show this forniture", forniture %>
    </p>
  <% end %>
</div>

<%= link_to "New forniture", new_forniture_path %>
