<p style="color: green"><%= notice %></p>

<h1>Detalle compras</h1>

<div id="detalle_compras">
  <% @detalle_compras.each do |detalle_compra| %>
    <%= render detalle_compra %>
    <p>
      <%= link_to "Show this detalle compra", detalle_compra %>
    </p>
  <% end %>
</div>

<%= link_to "New detalle compra", new_detalle_compra_path %>
